<?xml version="1.0" encoding="UTF-8"?>
<beans:beans
	xmlns="http://www.springframework.org/schema/security"
	xmlns:beans="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
http://www.springframework.org/schema/beans/spring-beans.xsd
http://www.springframework.org/schema/security
http://www.springframework.org/schema/security/spring-security.xsd">

	<http auto-config="true">
		<intercept-url pattern="/pages/security/user**" access="hasRole('ROLE_ANONYMOUS')"/>
		<intercept-url pattern="/pages/security/user**" access="hasRole('ROLE_USER')" />
		<intercept-url pattern="/pages/security/admin**" access="hasRole('ROLE_ADMIN')" />
		<form-login login-page="/pages/security/user/connexion.xhtml"
			default-target-url="/pages/security/user/remplirPanier.xhtml"
			authentication-failure-url="/pages/security/user/error.xhtml?status=error"/>
		<logout
			logout-success-url="/pages/connexion.xhtml?status=logout" />
	</http>

	<authentication-manager
		alias="authenticationManager">
		<authentication-provider
			user-service-ref="userDetailsService" />
	</authentication-manager>

	<beans:bean id="userDetailsService"
		class="com.fr.adaming.bean.UserDetailsServiceImpl" />

	<beans:bean id="loginBean" name="loginBean"
		class="com.fr.adaming.managed.bean.LoginBean" scope="prototype">
		<beans:property name="authenticationManager"
			ref="authenticationManager"></beans:property>
	</beans:bean>

</beans:beans>